// Place all the styles related to the QuestionsController controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
  font-size: 34px;
  font-weight: bolder;
}

#button {
  background-color: blue;
  color: white;
  font-size: 32px;
  border-radius: 4px;
  padding: 8px;
}
